body {
    background-image: url("./background.jpg");
    background-size: cover;
}

.milk {
    background-color:  rgba(200, 200, 200, 0.95);
}

.container {
    padding-bottom: 15px;
}

.padded {
    padding: 5px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.black a.active,
.black a:hover.active  {
    background-color: rgb(52, 58, 64) !important;
}
