body {
    background-image: url("./background.jpg");
    background-size: cover;
}

.milk {
    background-color: rgba(190, 190, 190, 1);
}

.container {
    padding-bottom: 15px;
}

.padded {
    padding: 5px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
